<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<body>

<!--
<h1 th:text="${test}">static</h1>
<h1 th:text="${var}">static</h1>
-->

<h1>login</h1><br>
<form method="post">

enter login credentials<br><br>

<!--form method="post" th:action="@{/Home}"-->

<input type="text" name="email" placeholder="email"></input><br>
<input type="password" name="pass" placeholder="password"></input><br>
<input type="submit" value="submit"></input> 

<!--input type="submit" name="action" value="login"></input--> 

</form>

<p id="errbox"></p>


<script src="js/login.js"></script>

</body>
</html>