<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>
<h1>homepage</h1><br>

<form method="post">
<select name="corso">  
  <option th:each="i : ${corsi}" th:value="${i}" th:text="${i}" th:selected="${sel1}"></option> 
</select><br>

<select name="appello">  
  <option th:each="i : ${appelli}" th:value="${i}" th:text="${i}" th:selected="${sel2}"></option> 
</select><br>

<input type="submit" name="mode" value="refresh"></input>
<input type="submit" name="mode" value="submit"></input> 
</form>

</body>
</html>