<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>

<body>

<!--
<h1 th:text="${test}">static</h1>
<h1 th:text="${var}">static</h1>
-->

<h1>login</h1><br>
enter email and password

<!--form method="post" th:action="@{/Home}"-->

<form method="post">
email: <input type="text" name="email"></input><br>
pass: <input type="text" name="pass"></input><br>
<input type="submit" value="submit"></input> 

<!--input type="submit" name="action" value="login"></input--> 

</form>

</body>
</html>